
  <section>

        <div class="hero-section">
            <!-- Show on mobile device -->
            <div class="hero-text2">
                <p class="big-intro">
                    Fuel Your Future With 
                    <span>Data Mastery</span>. Join Our Sessions Today!
                </p>
        
                <p class="small-intro">
                    Stay Ahead With Cutting-Edge Data Tools <br>
                    Connect, Learn, and Grow With Us.
                </p>
                <%= link_to "Sign Up", signup_path, class:"sign-btn" %>
            </div>


            <!-- Show on desktop device -->
            <div class="hero-text">
                <p class="big-intro">
                    Fuel Your Future With <br>
                    <span>Data Mastery</span>. Join Our <br> Sessions Today!
                </p>
        
                <p class="small-intro">
                    Stay Ahead With Cutting-Edge Data Tools <br>
                    Connect, Learn, and Grow With Us.
                </p>
                <%= link_to "Sign Up", signup_path,  class:"sign-btn" %>
            </div>

            <!-- Hero Image -->
            
            <div class="hero-image">
                <%= image_tag("hero-img.png", alt:"DataSessions") %>
            </div>

            <!-- Button to show on mobile device -->
            
            <%= link_to "Sign Up", signup_path, class:"sign-btn2" %>
            
            
        </div>
    </section>

    <!-- Courses Section -->
    <section id="courses_tools">

        <!-- Heading -->
        <div class="l-title">
            <center id="Learn"><h1 class="font-bold">What you will learn</h1></center>
        </div> 
       
        <!-- content -->
        <div id="courses">
          
            <div class="tool2">
                <%= image_tag("Sql_data_base_with_logo.webp",alt:"") %>
                <h2>SQL</h2>
                <p>SQL (Structured Query Language) is the cornerstone of data management and analysis, empowering individuals and businesses to extract valuable insights from vast datasets.</p>
                <p>On our community website, we delve into the depths of SQL, offering resources, tutorials, and discussions to help you master this essential tool.</p>
                <!--
                <p>Lorem ipsum dolor sit amet consectetur olores</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipi</p>
                <p>Lorem ipsum dolor sit amet consectetur adipis</p><br> -->
                <button>Learn more!</button>
            </div>


            <div class="tool2">
                <%= image_tag("python-logo-vector-1.svg", alt:"") %>
                <h2>Python</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisi</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisi</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisi</p><br>
                <button>Learn more!</button>
            </div>
            
            <div class="tool2">
                <%= image_tag("r1.png",alt:"") %>
                <h2>R</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisic</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisic</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisi</p><br>
                <button>Learn more!</button>
            </div>
        </div>

         <div id="courses">

            <div class="tool2">
                <%= image_tag("excel1.png",alt:"") %>
                <h2>Excel</h2>
                <p>Lorem ipsum dolor sit amet consectetur olores</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipi</p>
                <p>Lorem ipsum dolor sit amet consectetur adipis</p><br>
                <button>Learn more!</button>
            </div>


            <div class="tool2">
                <%= image_tag("tableau1.png", alt:"") %>
                <h2>Tableau</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisi</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisi</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisi</p><br>
                <button>Learn more!</button>
            </div>

            <div class="tool2">
                <%= image_tag("powerbi-jpg.webp",alt:"") %>
                <h2>Power BI</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisic</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisic</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisi</p><br>
                <button>Learn more!</button>
            </div>
         </div>
    </section>

    <!-- ABOUT US SECTION -->
    <section id="about">

        <!-- Heading -->
        <div class="l-title">
          <br>
          <center id="abt"><h1 class="font-bold">About DataSessions</h1></center>
        </div>

        <!-- Content -->
        <div class="about_us">

            <p>
                At DataSession, we're dedicated to fostering a vibrant community where individuals at every stage of their data journey can thrive. 
                Whether you're a newcomer eager to break into the field or an experienced professional seeking to expand your network, we're here to support you.
            </p> <br>

            <p>
                Our mission is simple: to provide a platform for knowledge sharing, networking, and collaboration within the data community. 
                From curated resources and networking opportunities to career support and project collaboration, we offer everything you need to succeed in the dynamic world of data.
            </p> <br>

            <p>
                Join us today and embark on a journey of continuous learning, connection, and growth. Together, let's unlock the full potential of data and drive meaningful impact in the world. 
                Welcome to DataSession!
            </p><br>

        </div>

    </section>

       <script src="https://kit.fontawesome.com/32f6e7a6d8.js" crossorigin="anonymous"></script>
