<% provide(:title, "Learn") %>
<section class="learn-page">
  <div>
    <br>
    <br>
    <br>
    <h3>Our Sessions</h3>
  </div>

  <div id="courses">
    <div class="tool2">
      <%= image_tag("Sql_data_base_with_logo.webp",alt:"") %>
      <h2>SQL</h2>
      <p>SQL (Structured Query Language) is the cornerstone of data management and analysis, empowering individuals and businesses to extract valuable insights from vast datasets.</p>
      <p>On our community website, we delve into the depths of SQL, offering resources, tutorials, and discussions to help you master this essential tool.</p>
      <!--
      <p>Lorem ipsum dolor sit amet consectetur olores</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipi</p>
      <p>Lorem ipsum dolor sit amet consectetur adipis</p><br> -->
      <button>Learn more!</button>
    </div>


    <div class="tool2">
      <%= image_tag("python-logo-vector-1.svg", alt:"") %>
      <h2>Python</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisi</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisi</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisi</p><br>
      <button>Learn more!</button>
    </div>

    <div class="tool2">
      <%= image_tag("r1.png",alt:"") %>
      <h2>R</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisic</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisic</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisi</p><br>
      <button>Learn more!</button>
    </div>
    </div>

    <div id="courses">

    <div class="tool2">
      <%= image_tag("excel1.png",alt:"") %>
      <h2>Excel</h2>
      <p>Lorem ipsum dolor sit amet consectetur olores</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipi</p>
      <p>Lorem ipsum dolor sit amet consectetur adipis</p><br>
      <button>Learn more!</button>
    </div>


    <div class="tool2">
      <%= image_tag("tableau1.png", alt:"") %>
      <h2>Tableau</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisi</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisi</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisi</p><br>
      <button>Learn more!</button>
    </div>

    <div class="tool2">
      <%= image_tag("powerbi-jpg.webp",alt:"") %>
      <h2>Power BI</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisic</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisic</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisi</p><br>
      <button>Learn more!</button>
    </div>
  </div>
</section>
