<header>
<div class="container">
    <nav>
        <!-- <a href="#" ><img src="images/my_logo.png" alt="DataSessions" class="logo"></a> -->
        <ul class="sidebar">
            <li onclick=hideSidebar><a href=""><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Learn", learn_path %></li>
            <li><%= link_to "Jobs", jobs_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>

        <ul class="nav-links ">
        <%= link_to root_path do %>
          <%= image_tag("my_logo.png", alt:"DataSessions", id:"logo") %>
        <% end %>
            <li class="hideOnMobile"><%= link_to "Home", home_path %></li>
            <li class="hideOnMobile"><%= link_to "About", about_path %></li>
            <li class="hideOnMobile"><%= link_to "Learn", learn_path%></li>
            <li class="hideOnMobile"><%= link_to "Jobs", jobs_path  %></li>
            <li class="hideOnMobile"><%= link_to "Contact", contact_path %></li>
            <li class=" menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
    </nav>
</div>  
</header>
